@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Special+Elite&display=swap');

$paleta1: #0081a7;
$paleta2: #00afb9;
$paleta3: #dad7cd;
$paleta4: #a3b18a;
$paleta5: #f07167;

body {
    background-color: $paleta4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header {
    font-family: Holtwood One SC;
    font-size: xx-large;
    padding-top: 10px;
    background-image: url(../img/pattern.jpg);

    i {
        font-size: 12px;
        display: block;
        text-align: right;
        padding-right: 10px;
        color: $paleta3;
    }

    .navbar {

        background-color: $paleta3;

        a {

            font-family: 'Oswald', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;

            &:hover {

                color: #DE3C4B;
                text-decoration-line: underline;
            }
        }
    }
}

main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

    img {
        width: 1280px;
        height: 960px;
    }
}

footer {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: $paleta3;

    ul {
        padding: 0%;
        display: flex;
        justify-content: space-evenly;



        li {
            font-size: x-large;
            color: $paleta4;

            a {
                font-family: 'Oswald', sans-serif;
                text-decoration: none;
                text-transform: lowercase;
                font-size: medium;
                font-weight: bold;
                color: #3a5a40;
            }
        }

        .facebook i {
            font-size: x-large;
            color: #3b5998;
        }

        .you i {
            font-size: x-large;
            color: #FF0000;
        }

        .instagram i {
            font-size: x-large;
            color: #ee640e;
        }

        .twitter i {
            font: x-large;
            color: #1DA1F2;
        }

    }

    .textoFoot {
        margin-top: 25px;
        border-bottom: 0.5px dotted black;
        background-color: $paleta3;
        width: 100%;
        font-size: 10px;
    }
}